<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.danbro.edu.mapper.EduCourseMapper">
    <select id="getCourseInfoForPublish" resultType="com.danbro.edu.dto.EduCoursePublishDto">
        SELECT ec.id           AS id,
               ec.title        AS title,
               ec.price        AS price,
               ec.lesson_num   AS lessonNum,
               ec.cover        AS cover,
               ecd.description AS description,
               et.`name`       AS teacherName,
               es1.title       AS oneSubject,
               es2.title       AS twoSubject
        FROM edu_course ec
                 LEFT JOIN edu_course_description ecd ON ec.id = ecd.id
                 LEFT JOIN edu_teacher et ON ec.teacher_id = et.id
                 LEFT JOIN edu_subject es1 ON ec.subject_parent_id = es1.id
                 LEFT JOIN edu_subject es2 ON ec.subject_id = es2.id
        WHERE ec.id = #{id}
    </select>

    <resultMap id="courseDetailInfoMap" type="com.danbro.edu.dto.FrontCourseDetailInfoDto">
        <id property="courseId" column="courseId"/>
        <result property="courseCover" column="courseCover"/>
        <result property="buyCount" column="buyCount"/>
        <result property="subjectLevelOne" column="subjectLevelOne"/>
        <result property="subjectLevelTwo" column="subjectLevelTwo"/>
        <result property="coursePrice" column="coursePrice"/>
        <result property="courseTitle" column="courseTitle"/>
        <result property="courseDescription" column="courseDescription"/>
        <result property="teacherName" column="teacherName"/>
        <result property="teacherIntro" column="teacherIntro"/>
        <result property="teacherAvatar" column="teacherAvatar"/>
        <collection property="chapterList" ofType="com.danbro.edu.dto.FrontCourseDetailInfoChapterDto">
            <id property="chapterId" column="chapterId"/>
            <result property="chapterTitle" column="chapterTitle"/>
            <collection property="videoList" ofType="com.danbro.edu.dto.FrontCourseDetailInfoVideoDto">
                <id property="videoId" column="videoId"/>
                <result property="isFree" column="isFree"/>
                <result property="videoSourceId" column="videoSourceId"/>
                <result property="videoTitle" column="videoTitle"/>
            </collection>
        </collection>

    </resultMap>

    <select id="getCourseDetailInfo" resultMap="courseDetailInfoMap">
        SELECT ec.id                  AS courseId,
               ec.cover               AS courseCover,
               ec.buy_count           AS buyCount,
               ec.price               AS coursePrice,
               ec.title               AS courseTitle,
               ec.view_count          AS viewCount,
               ecd.description        AS courseDescription,
               ep.title               AS chapterTitle,
               ep.id                  AS chapterId,
               ev.id                as videoId,
               ev.title               as videoTitle,
               ev.video_source_id     as videoSourceId,
               et.name                as teacherName,
               et.intro               as teacherIntro,
               et.avatar              as teacherAvatar,
               es1.title              as subjectLevelTwo,
               es2.title              as subjectLevelOne,
               ev.is_free             as isFree
        FROM edu_course ec
                 LEFT JOIN edu_chapter ep ON ec.id = ep.course_id
                 LEFT JOIN edu_video ev ON ep.id = ev.chapter_id
                 LEFT JOIN edu_course_description ecd ON ec.id = ecd.id
                 LEFT JOIN edu_teacher et ON et.id = ec.teacher_id
                 LEFT JOIN edu_subject es1 ON ec.subject_id = es1.id
                 LEFT JOIN edu_subject es2 ON ec.subject_parent_id = es2.id

        WHERE ec.id = #{id}
    </select>
</mapper>